<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <table class="table table-striped" style="margin-top: 10%; width: 100%;">
        <thead class="btn-primary" style="background-color: #f5f1e9;color: #886619;">
          <tr>
            <th scope="col">ITEMS</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">PRICE</th>
            <th scope="col">SIZE</th>
            <th scope="col" style="margin-left: 5px;">QTY</th>
            <th scope="col">SUBTOTAL</th>
          </tr>
        </thead>
        <br>
        <tbody>

          <tr style="border: 2px solid #e5decf;background-color: #fff;">

            <td>
              <img src="assets/productimg/img2.webp" style="width: 6vw; height: 20vh;" alt="">
            </td>
            <td>
              <h4>Sand Dollar Beige Printed Casual Kurta</h4>
              <P>SKU :<span> ML12056-303</span></P>
              <P>Colour : <span>Biscuit</span></P>
              <P>Size : <span>L</span></P>
              <P>Net Quantity : <span>1 N</span></P>
            </td>
            <td>
              <span style="font-size: large; font-weight: bold;">&#8377; &nbsp;{{999}}</span><br>
            </td>
            <td style="width: 10%;">
              <!-- <input type="text" class="form-control" title="CategoryName" [(ngModel)]="data.categoryname"
                          name="{{data.categoryname}}" [disabled]="data.disabled"> -->

              <select style="width: 75%;height:36px;padding: 5px; margin-right: 10px;" class="form-select">

                <option value="M">
                  M
                </option>
                <option value="S">
                  S
                </option>
                <option value="XL">
                  XL
                </option>
              </select>
            </td>
            <td>
              <div style="margin-left: 25px;">
                <button (click)="Plus()">-</button>
                <input type="text" id="number" [(ngModel)]="qty" [value]="1" style="width: 30px;" placeholder="1" />
                <button (click)="Plus()">+</button>
              </div>
            </td>


            <td>
              <span style="font-size: large; font-weight: bold;">&#8377; &nbsp;{{999}}</span><br>
            </td>

          </tr>
          <div>
            <p></p>
          </div>




        </tbody>
      </table>
    </div>
    <div class="col-3"></div>

  </div>
</div>
