/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f8f3;
  /* background-image: url(https://www.pexels.com/photo/women-clothes-on-hangers-in-shop-5531540); */
  margin-top: 70px;
  margin-top: 0px;
}
